/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./fonts/Ubuntu-B.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Ubuntu-B.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Ubuntu-B.otf") format("opentype"),
    /* Open Type Font */ url("./fonts/Ubuntu-B.svg") format("svg"),
    /* Legacy iOS */ url("./fonts/Ubuntu-B.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/Ubuntu-B.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Ubuntu-B.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #efefef;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

:root {
  color-scheme: light dark;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 10vw;
  font-size: calc(30px + (100 - 30) * ((100vw - 320px) / (1600 - 320)));
  display: inline-block;
  margin: auto;
  background: linear-gradient(to right, #c31fba, #6600ea);
  padding: 0.4em;
  border-top-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
  font-family: "Ubuntu-Bold", sans-serif;
  color: white;
  line-height: 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #040012;
  }
  a {
    color: black;
  }
}
